body {
	background-image: url("../images/swirl_pattern.png");
}

.panel {
	background-color: white;
	border: 2px solid black;
}

.panel-body {
	text-align: center;
}

#random-number, #win-lose, h2 {
	text-align: center;
}

.page-header {
	text-align: center;
}

#answerA:hover, #answerB:hover, #answerC:hover, #answerD:hover {
	background-color: black;
	color: white;
}

/*#answerA, #answerB, #answerC, #answerD {
	border: 1px solid black;
}*/